body {
  background-color: lightslategrey;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  margin-left: 450px;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}
img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 1px solid red;
  background-color: whitesmoke;
}
h2 {
  color: blue;
}
